<div class="share-page">
  {{ site.data.text.share_buttons.text | default: "Share this post!" }}

  <div class="share-links">
    {% if site.owner.share_icons.facebook %}
      <a class="fa fa-facebook" rel="nofollow" target="_blank"
         href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}"
         title="{{ site.data.text.share_buttons.facebook | default: "Share on Facebook" }}">
      </a>
    {% endif %}
    {% if site.owner.share_icons.twitter %}
      <a class="fa fa-twitter" rel="nofollow" target="_blank"
         href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}"
         title="{{ site.data.text.share_buttons.twitter | default: "Share on Twitter" }}">
      </a>
    {% endif %}
    {% if site.owner.share_icons.googleplus %}
      <a class="fa fa-google-plus" rel="nofollow" target="_blank"
         href="https://plus.google.com/share?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}"
         title="{{ site.data.text.share_buttons.googleplus | default: "Share on Google+" }}">
      </a>
    {% endif %}
    {% if site.owner.share_icons.linkedin %}
      <a class="fa fa-linkedin" rel="nofollow" target="_blank"
         href="http://www.linkedin.com/shareArticle?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}"
         title="{{ site.data.text.share_buttons.linkedin | default: "Share on LinkedIn" }}">
      </a>
    {% endif %}
    {% if site.owner.share_icons.digg %}
      <a class="fa fa-digg" rel="nofollow" target="_blank"
         href="http://digg.com/submit?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}"
         title="{{ site.data.text.share_buttons.digg | default: "Share on Digg" }}">
      </a>
    {% endif %}
    {% if site.owner.share_icons.tumblr %}
      <a class="fa fa-tumblr" rel="nofollow" target="_blank"
         href="http://www.tumblr.com/share/link?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;name={{ page.title | cgi_escape }}"
         title="{{ site.data.text.share_buttons.tumblr | default: "Share on Tumblr" }}">
      </a>
    {% endif %}
    {% if site.owner.share_icons.reddit %}
      <a class="fa fa-reddit" rel="nofollow" target="_blank"
         href="http://reddit.com/submit?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}"
         title="{{ site.data.text.share_buttons.reddit | default: "Share on Reddit" }}">
      </a>
    {% endif %}
    {% if site.owner.share_icons.stumbleupon %}
      <a class="fa fa-stumbleupon" rel="nofollow" target="_blank"
         href="http://www.stumbleupon.com/submit?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}"
         title="{{ site.data.text.share_buttons.stumbleupon | default: "Share on StumbleUpon" }}">
      </a>
    {% endif %}
    {% if site.owner.share_icons.hackernews %}
      <a class="fa fa-hacker-news" rel="nofollow" target="_blank"
         href="https://news.ycombinator.com/submitlink?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;t={{ page.title | cgi_escape }}"
         title="{{ site.data.text.share_buttons.hackernews | default: "Share on Hacker News" }}">
      </a>
    {% endif %}
  </div>
</div>
