<div class="social-icons">
  {% if site.data.social.handles.github %}
    <a class="fab fa-github"
        href="https://github.com/{{ site.data.social.handles.github }}">
    </a>
    <span class="sr-only">Link to github profile</span>
  {% endif %}
  {% if site.data.social.handles.twitter %}
    <a class="fab fa-twitter"
        href="https://twitter.com/{{ site.data.social.handles.twitter }}">
    </a>
    <span class="sr-only">Link to twitter profile</span>
  {% endif %}
  {% if site.data.social.handles.stackoverflow_id %}
    <a class="fab fa-stack-overflow"
        href="https://stackoverflow.com/users/{{ site.data.social.handles.stackoverflow_id }}">
    </a>
    <span class="sr-only">Link to stackoverflow profile</span>
  {% endif %}
  {% if site.data.social.handles.linkedin %}
    <a class="fab fa-linkedin-in"
        href="https://www.linkedin.com/in/{{ site.data.social.handles.linkedin }}">
    </a>
    <span class="sr-only">Link to linkedin profile</span>
  {% endif %}
  {% if site.data.social.handles.bitbucket %}
    <a class="fab fa-bitbucket"
        href="https://bitbucket.org/{{ site.data.social.handles.bitbucket }}">
    </a>
    <span class="sr-only">Link to bitbucket profile</span>
  {% endif %}
  {% if site.data.social.handles.steam %}
    <a class="fab fa-steam"
        href="http://steamcommunity.com/id/{{ site.data.social.handles.steam }}">
    </a>
    <span class="sr-only">Link to steamcommunity profile</span>
  {% endif %}
  {% if site.data.social.handles.reddit %}
    <a class="fab fa-reddit-alien"
        href="https://reddit.com/user/{{ site.data.social.handles.reddit }}">
    </a>
    <span class="sr-only">Link to reddit profile</span>
  {% endif %}
  {% if site.data.social.handles.facebook %}
    <a class="fab fa-facebook-f"
      href="https://facebook.com/{{ site.data.social.handles.facebook }}">
    </a>
    <span class="sr-only">Link to facebook profile</span>
  {% endif %}
  {% if site.data.social.handles.skype %}
    <a class="fab fa-skype"
        href="skype:{{ site.data.social.handles.skype }}?userinfo">
    </a>
    <span class="sr-only">Link to skype profile</span>
  {% endif %}
  {% if site.data.social.handles.angellist %}
    <a class="fab fa-angellist"
        href="https://angel.co/{{ site.data.social.handles.angellist }}">
    </a>
    <span class="sr-only">Link to angellist profile</span>
  {% endif %}
  {% if site.data.social.handles.medium_id %}
    <a class="fab fa-medium"
        href="https://medium.com/@{{ site.data.social.handles.medium_id }}">
    </a>
    <span class="sr-only">Link to medium profile</span>
  {% endif %}
  {% if site.data.social.handles.telegram %}
    <a class="fab fa-telegram-plane"
        href="https://t.me/{{ site.data.social.handles.telegram }}">
    </a>
    <span class="sr-only">Link to telegram profile</span>
  {% endif %}
  {% if site.data.social.handles.vk_id %}
    <a class="fab fa-vk"
        href="https://vk.com/{{ site.data.social.handles.vk_id }}">
    </a>
    <span class="sr-only">Link to vk profile</span>
  {% endif %}
  {% if site.data.social.handles.bitcoin_url %}
    <a class="fab fa-bitcoin"
        href="{{ site.data.social.handles.bitcoin_url }}">
    </a>
    <span class="sr-only">Link to bitcoin profile</span>
  {% endif %}
  {% if site.data.social.handles.paypal_url %}
    <a class="fab fa-paypal"
        href="{{ site.data.social.handles.paypal_url }}">
    </a>
    <span class="sr-only">Link to paypal profile</span>
  {% endif %}
  {% if site.data.social.handles.flattr_button %}
    {{ site.data.social.handles.flattr_button }}
  {% endif %}
</div>
<div class="clearfix"></div>
