<div class="social-icons">
  <div class="social-icons-left">
    {% if site.email %}
      <a class="fa fa-envelope"
          href="mailto:{{ site.email }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.github %}
      <a class="fa fa-github"
         href="https://github.com/{{ site.data.social.handles.github }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.twitter %}
      <a class="fa fa-twitter"
         href="https://twitter.com/{{ site.data.social.handles.twitter }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.stackoverflow_id %}
      <a class="fa fa-stack-overflow"
         href="https://stackoverflow.com/users/{{ site.data.social.handles.stackoverflow_id }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.linkedin %}
      <a class="fa fa-linkedin"
         href="https://www.linkedin.com/in/{{ site.data.social.handles.linkedin }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.bitbucket %}
      <a class="fa fa-bitbucket"
         href="https://bitbucket.org/{{ site.data.social.handles.bitbucket }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.steam %}
      <a class="fa fa-steam-square"
         href="http://steamcommunity.com/id/{{ site.data.social.handles.steam }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.reddit %}
      <a class="fa fa-reddit"
         href="https://reddit.com/user/{{ site.data.social.handles.reddit }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.facebook %}
      <a class="fa fa-facebook"
         href="https://facebook.com/{{ site.data.social.handles.facebook }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.skype %}
      <a class="fa fa-skype"
         href="skype:{{ site.data.social.handles.skype }}?userinfo">
      </a>
    {% endif %}
    {% if site.data.social.handles.angellist %}
      <a class="fa fa-angellist"
         href="https://angel.co/{{ site.data.social.handles.angellist }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.medium_id %}
      <a class="fa fa-medium"
         href="https://medium.com/@{{ site.data.social.handles.medium_id }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.telegram %}
      <a class="fa fa-telegram"
         href="https://t.me/{{ site.data.social.handles.telegram }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.vk_id %}
      <a class="fa fa-vk"
         href="https://vk.com/{{ site.data.social.handles.vk_id }}">
      </a>
    {% endif %}
  </div>
  <div class="right">
    {% if site.data.social.handles.bitcoin_url %}
      <a class="fa fa-bitcoin"
         href="{{ site.data.social.handles.bitcoin_url }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.paypal_url %}
      <a class="fa fa-paypal"
         href="{{ site.data.social.handles.paypal_url }}">
      </a>
    {% endif %}
    {% if site.data.social.handles.flattr_button %}
      {{ site.data.social.handles.flattr_button }}
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
