dl {
  display: flex;
  flex-wrap: wrap;
}

dt, dd {
  font-size: 0.9rem;
}

dt {
  flex: 0 0 100%;
  max-width: 100%;

  display: flex;
  justify-content: space-between;

  small {
    color: $mid-gray;
  }
}

dd {
  flex: 0 0 90%;
  max-width: 90%;
  margin-left: 10%;
}

// Paragraphs are weird.
dd p {
  font-size: inherit;
  margin: 0.25rem 0 0.7rem;
}

@media screen and (min-width: $viewport-medium) {
  dt {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0.7rem 0;

    flex-direction: column;
    justify-content: start;
    small {
      display: block;
      text-align: left;
    }
  }

  dd {
    flex: 0 0 70%;
    max-width: 70%;
    margin: 0.7rem 0 0;
  }
}
