{% if site.data.social.show_sharing_icons %}
{% include share_buttons.html %}
{% endif %}

{% if site.data.features.comments.disqus %}
{% include helpers/disqus.html %}
{% endif %}

{% if site.data.features.posts.show_related %}
<h3 class="related-post-title">{{ site.data.text.post.related_posts | default: "Related Posts" }}</h3>
{% for post in site.related_posts %}
<div class="post ml2">
  <a href="{{ post.url | relative_url }}" class="post-link">
    <h4 class="post-title">{{ post.title }}</h4>
    <p class="post-summary">{{ post.summary }}</p>
  </a>
</div>
{% endfor %}
{% endif %}
