{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mt4 mb3">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.update_date %}
  <span class="post-meta">{{ site.data.text.post.updated | default: "Updated" }}:
    {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
  <span class="post-meta small">
    {% if page.minutes %}
    {{ page.minutes }} {{ site.data.text.post.minute_read | default: "minute read" }}
    {% else %}
    {{ minutes }} {{ site.data.text.post.minute_read | default: "minute read" }}
    {% endif %}
  </span>
</div>
